.card{
    width: 18rem;
    background: linear-gradient(#8d99ae, #4a4e69);
    padding: 10px;
}
.card-body{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btn{
    text-decoration: none;
}
#space{
    padding: 20px;
}
